#header {
  padding: 16px;
  text-align: center;
  font-size: 40px;
}
#footer {
  position: fixed;
  width: 100%;
  background-color: #bbc4c2;
  color: white;
  text-align: center;
  left: 0;
  bottom: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}